<a href="/authors">Author Index</a>
<a href="/books">Book Index</a>
<form action="/authors/<%= @author.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Update Author</p>
  <label for="name">Author Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="hometown">Hometown:</label><br>
  <input type="text" id="hometown" name="hometown"><br>
  <label for="currently_writing">Currently Writing?</label><br>
  <input type="checkbox" id="currently_writing" name="currently_writing"><br>
  <label for="total_awards">Total Awards:</label><br>
  <input type="text" id="total_awards" name="total_awards"><br>
</form>